/* Defines */
:root {
  --fntSans: sans-serif;
  --fntSizeBase: 16px;
  --clrText: #ccc;
  --clrTextFaint: #888;
  --clrTextFainter: #444;
  --clrTextTerminal: #8d8b76;
  --clrTextError: #b63939;
  --clrBodyBg: #000;
  --clrPanelBg: #202020;
  --clrControl: #9f7e52;
  --clrMyFrame: #d08e4c;
}

/* Global overrides */
* { box-sizing: border-box; scrollbar-color: #333 var(--clrPanelBg); }
::-webkit-scrollbar { background-color: var(--clrPanelBg); width: 8px; }
::-webkit-scrollbar-thumb { background-color: #333; }

a { color: #8bb3e0; text-decoration: none; }
a:hover { text-decoration: underline; }

button {
  display: block; border: none; margin: 0; padding: 0; background-color: transparent;
  & svg { width: 100%; height: 100%; }
  & svg * { stroke: var(--clrControl); }
  &:hover svg * { stroke: var(--clrMyFrame); }
  &[disabled] svg * { stroke: var(--clrTextFainter); }
}

& input[type=text] {
  box-shadow: none; -webkit-box-shadow: none; -webkit-appearance: none; outline: none;
  -webkit-border-radius: 0; border-radius: 0; border: none;
  font-family: inherit; color: var(--clrText); background-color: var(--clrPanelBg);
}

/* Layout, specifics */
html, body { height: 100%; width: 100%; margin: 0; padding: 0; }
html { background-color: var(--clrBodyBg); }
body {
  font-family: var(--fntSans); font-size: var(--fntSizeBase);
  color: var(--clrText);
}
#canv2 { position: fixed; width: 100%; height: 100%; background-color: black; }
#canv3 { position: fixed; width: 100%; height: 100%; background-color: transparent; }
main { height: 100%; width: 100%; }

#volume {
  position: fixed; right: 10px; bottom: 10px; display: none;
  width: 8px; height: 100px; border: 1px solid #81674c;
}
#volumeVal {
  width: 100%; height: 70%; position: absolute; bottom: 0;
  background-color: #4d4238;
}
#fps {
  position: fixed; right: 30px; bottom: 10px; display: none;
  color: #81674c;
}

#fixedCode {
  position: absolute; top: 50px; left: 50px; bottom: 50px; overflow-y: hidden;
  font-size: 120%;
  & p {
    margin: 0 0 12px 0; padding: 8px 12px;
    font-family: monospace; white-space: pre-wrap;
    background-color: #00000080;
    opacity: 0.5; &.last { opacity: 1; }
    transition: background-color 0.7s ease-out;
    &.hilite { background-color: #7399a780; transition: none; }
  }
}
.audioCode {
  & .token.comment { color: #878d86; font-style: normal; }
  & .token.string { color: #90ab87; }
  & .token.punctuation { color: #9c978f; }
  & .token.number { color: #b5a2ac; }
  & .token.builtin { color: #b34242; }
  & .token.operator { color: #c49f54; }
  & .token.hvariable { color: #7da5b4; }
}
